@model IEnumerable<AzureAt.Models.Amiguinhos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAmiguinhos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoOrigem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisOrigem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAmiguinhos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoOrigem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisOrigem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                <!-----------<a asp-action="Edit" asp-route-id="@item.IdAmiguinhos">Edit</a> |------>
                <!-------------<a asp-action="Details" asp-route-id="@item.IdAmiguinhos">Details</a> |---------->
                <a asp-action="Delete" asp-route-id="@item.IdAmiguinhos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
